@using (Ajax.BeginForm("resetpassword",new AjaxOptions
{
    HttpMethod="POST",
    OnBegin="ldpLoading.Show()",
    OnComplete="ldpLoading.Hide()",
    UpdateTargetId= "profile-container"
}))
{
    <div class="card-header">
        <h2>Reset Password</h2>
    </div>
    <div class="card-body">
        @if (ViewBag.resultStatus != null)
        {
        <div class="alert @ViewBag.resultClass">
            <p> @ViewBag.resultStatus</p>
        </div>
        }
        <div class="row">
            <div class="col-12">
                @{
                    Html.DevExpress().TextBox(settings =>
                    {
                        settings.Name = "newPassword";
                        settings.Properties.Caption = "New Password";
                        settings.Width = Unit.Percentage(100);
                    }).GetHtml();
                }
            </div>
        </div>
        <div class="row margin-top-10">
            <div class="col-12">
                @{
                    Html.DevExpress().Button(settings =>
                    {
                        settings.Name = "btnResetPassword";
                        settings.Text = "Reset Password";
                        settings.UseSubmitBehavior = true;
                    }).GetHtml();
                }
            </div>
        </div>
    </div>

}
